body {
    background-image: url("../img/coding-on-a-computer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Courier New", Courier, monospace;
}

#content {
    color: white;
}

#footer {
    padding-top: 20px;
    color: white;
}

#content2 {
    padding-top: 20px;
}

.img-list {
    max-width: 100px;
}

.contact-text {
    text-align: justify;
}

.dark {
    background: linear-gradient(to right, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url("../img/coding-on-a-computer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.col-md-4, .col-md-6 {
    padding-top: 15px;
}

a.nav-link { cursor: pointer;}

.light-grey {
    background-color: #282828;
    color: white;
}

.projects-links {
    color: white;
    text-decoration: none;
}

.Text {
    text-align: center;
    color: white;
}
        
:root {
    font-family: Helvetica, Arial, sans-serif;
}
          
.Time {
    border-radius: 10px;
    background-color: #f2f2f2;
    margin: auto;
    width: 50%;
    padding: 10px;
}
        
.Distance {
    border-radius: 10px;
    background-color: #f2f2f2;
    margin: auto;
    width: 50%;
    padding: 10px;
}
        
.Speed {
    border-radius: 10px;
    background-color: #f2f2f2;
    margin: auto;
    width: 50%;
    padding: 10px;
}
        
.distance-time, .speed-time, .time-time, .distance-speed, .time-speed, .speed-speed,
    .distance-distance, .time-distance, .speed-distance{
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
        
.box1 {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
        
.box2 {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
        
.box3 {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 90px;
    padding-right: 50px;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
  
.players {
    text-align: center;
}
  
.board{
    width: 400px;
    height: 400px;
    margin: 400 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
  
.field {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reset-btn {
    cursor: pointer;
}

