        body {
            background-image: url("../img/coding-on-a-computer.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        #content{
            color: white;
        }
        #footer{
            color: white;
        }
        #content2{
            padding-top: 20px;
        }
        .img-list{
            max-width: 100px;
        }

        .dark {
            background: linear-gradient(to right, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url("../img/coding-on-a-computer.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        a.nav-link { cursor: pointer;}

        .light-grey {
            background-color: #282828;
            color: white;
        }

        .Text {
            text-align: center;
            color: white;
          }
        
          :root {
            font-family: Helvetica, Arial, sans-serif;
          }
          
          .Time {
            border-radius: 5px;
            background-color: #f2f2f2;
            margin: auto;
            width: 50%;
            padding: 10px;
          }
        
          .Distance {
            border-radius: 5px;
            background-color: #f2f2f2;
            margin: auto;
            width: 50%;
            padding: 10px;
          }
        
          .Speed {
            border-radius: 5px;
            background-color: #f2f2f2;
            margin: auto;
            width: 50%;
            padding: 10px;
          }
        
          .distance-time, .speed-time, .time-time, .distance-speed, .time-speed, .speed-speed,
            .distance-distance, .time-distance, .speed-distance{
            width: 150px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
        
          .box1 {
            padding-top: 50px;
            padding-left: 50px;
            padding-bottom: 50px;
            padding-right: 50px;
          }
        
          .box2 {
            padding-top: 50px;
            padding-left: 50px;
            padding-bottom: 50px;
            padding-right: 50px;
          }
        
          .box3 {
            padding-top: 50px;
            padding-left: 50px;
            padding-bottom: 90px;
            padding-right: 50px;
          }

        
