body {
    background: linear-gradient(to right, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url("../img/the-greats.jpeg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.title {
    text-align: center;
    color: white;
    font-size: 100px;
	text-align: center;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.message  {
    color: white;
    text-align: center;
    position: relative;
    padding-top: 50px;
    font-size: 25px;
}

.movies-page:link, .movies-page:visited {
    background-color: #f44336;
    color: white;
    padding: 25px 95px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    position: absolute;
    top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    width: 175px;
	height: 30px;
}

.movies-page:hover, .movies-page:active {
    background-color: red;
}

.movies {
    display: grid;
    grid-row: auto;
    grid-gap: 50px;
    padding: 40px;
}

.movie-1, .movie-2, .movie-3 {
    display: grid;
    grid-template-columns: 550px 550px 550px;
    height: 600px;
    width: 100%;
    background-color: white;
}

.movie1-img, .movie2-img, .movie3-img{
    height: 560px;
    width: 400px;;
    padding: 20px 40px ;
}

.movie1-title , .movie2-title, .movie3-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 40px;

}

.movie1-info, .movie2-info, .movie3-info {
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: rgb(27, 26, 26);
    color: white;
    text-align: center;
}

.contents1 {
    margin-right: 30px;
}

.contents2 {
    padding-top: 20px;
    margin-left: 45px;
}